* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;	
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	font-weight: 700;
}
input::-webkit-input-placeholder{
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0px;
}
/* ------------------------------------------------------------------ */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
}
.link{
    text-decoration: none;
    color: #fffff1;
}
.summary {
    background: url(../img/myPhoto.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    color: #fffff1;
    font-weight: 400;
    font-style: italic;
    height: 800px;
}
.title{
    font-size: 30px;
    color: #98ff94;
    font-weight: 700;
    margin: 25px 0;
    font-style: normal;
}

.summary__leftColumn{
    padding-top: 12%;
}
.summary__rightColumn{
    padding-top: 12%;
}