* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;	
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	font-weight: 700;
}
input::-webkit-input-placeholder{
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0px;
}
/* ------------------------------------------------------------------ */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 20px 0;
}
.link {
    color: #030eaa;
    margin: 5px 0;
    font-size: 24px;
}
.link:hover{
    color: #000ed6b0;
}
.title{
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}
.title--left{
    text-align: left;
}
.text {
    font-size: 22px;
    color: #000000b6;
    text-align: center;
    margin: 5px 10px;
}
.text--bg{
    background-color: #bfc9ffef;
    padding: 7px;
    border-radius: 20px;
}
.text--align{
    text-align: justify;
    margin:0 21% 0 0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15%;
}
.header__column{
}
.header__name{
    margin-bottom: 20px;
    font-size: 38px;
}
.header__contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 30px;
}
.myPhoto{
    width: 250px;
    height: 250px;
    border-radius: 65px;
    opacity: 85%;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 16%;
}
.main__right{
    padding-right: 75px;
}
.footer{
    padding: 15px;
}
@media screen and (max-width: 796px){
    .text{
        font-size: 18px;
    }
    .link{
        font-size: 20px;
    }
    .text--align{
        text-align: start;
        margin:0 5% 0 0;
    }
}
@media screen and (max-width: 738px){
    .header{
        flex-direction: column-reverse;
        align-items: center;
        padding: 0px 5%;
    }
    .header__contacts{
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 10px 15%;
    }
    .main__right{
        padding-right: 0px;
    }

}