@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

@import "_normalize.scss";
@import "_vars.scss";
@import "_mixins.scss";

body {
    font-family: 'Lato', sans-serif;
}

.link{
    text-decoration: none;
    color: inherit;
}

.container { 
    max-width: 1020px;
    margin: 0 auto;
}

.header{
    background-color: #2D303A;
    border-bottom: #323746 solid 6px;
    .header__row{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .header__title{
            color: $header-color;
            .header__title--starColor{
                color: $header-hoverColor;
            }
        }

            .header__nav{
            display: flex;
            flex-direction: row;
            color: $header-color;
            font-size: $header-fontSize;
            font-weight: 700;
                li:first-child{
                    color: $header-hoverColor;
                    list-style-type: none;
                }

                .link--padding {
                    padding-right: 25px;
                    
                }

                :hover{
                    color: $header-hoverColor;
                }
            }
    }
}

.main {
    background-color: #F06C64;
}
.frontpage{
    background-color: #F06C64;
    border-bottom: #EA676B solid 6px;
    .frontpage__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 55px 0;
        .frontpage__main{
            display: flex;
            align-items: center;
            .frontpage__img{
                margin: 0 35px;
            }
        }
    }
}